---
layout: default
---

<h1>{{ page.year }}-{{ page.month }}</h1>

<ul class="post-list">
  {% for post in site.posts %}
    {% assign post_year = post.date | date: "%Y" %}
    {% assign post_month = post.date | date: "%m" %}

    {% if post_year == page.year and post_month == page.month %}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%b %d, %Y" }}
        </span>
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        {{ post.excerpt }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
